{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "ce:GetCostAndUsage",
                "ce:GetReservationPurchaseRecommendation",
                "ce:GetPreferences",
                "ce:ListTagsForResource",
                "ce:GetReservationUtilization",
                "ce:GetCostCategories",
                "ce:GetSavingsPlansPurchaseRecommendation",
                "ce:GetSavingsPlansUtilizationDetails",
                "ce:GetDimensionValues",
                "ce:GetAnomalySubscriptions",
                "ce:DescribeReport",
                "ce:GetReservationCoverage",
                "ce:GetAnomalyMonitors",
                "ce:GetUsageForecast",
                "ce:DescribeNotificationSubscription",
                "ce:DescribeCostCategoryDefinition",
                "ce:GetRightsizingRecommendation",
                "ce:GetSavingsPlansUtilization",
                "ce:GetAnomalies",
                "ce:ListCostCategoryDefinitions",
                "ce:GetCostForecast",
                "ce:GetCostAndUsageWithResources",
                "ce:ListCostAllocationTags",
                "ce:GetSavingsPlansCoverage",
                "ce:GetTags"
            ],
            "Resource": "*"
        }
    ]
}
