{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "logs:CreateLogGroup",
            "Resource": "arn:aws:logs:{{ region }}:{{ aws_info.account }}:*"
        },
        {
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogStream",
                "logs:PutLogEvents"
            ],
            "Resource": [
                "arn:aws:logs:{{ region }}:{{ aws_info.account }}:log-group:/aws/lambda/monthlyBillingEmail:*"
            ]
        }
    ]
}
