{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "logs:CreateLogGroup"
        },
        {
            "Effect": "Allow",
            "Principal": { "AWS": "arn:aws:iam::{{ aws_info.account }}:root" },
            "Action": [
                "logs:CreateLogStream",
                "logs:PutLogEvents"
            ]
        }
    ]
}
